USE [master]
GO
/****** Object:  Database [QLSVien]    Script Date: 10/28/2018 21:03:22 ******/
CREATE DATABASE [QLSVien] ON  PRIMARY 
( NAME = N'QLSVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLSVien.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLSVien_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSVien]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 10/28/2018 21:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [varchar](4) NOT NULL,
	[TENKHOA] [varchar](30) NOT NULL,
	[NAMTHANHLAP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTHANHLAP]) VALUES (N'ABCD', N'Cong nghe thong tin', 2010)
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTHANHLAP]) VALUES (N'AQWE', N'Ngon Ngu Anh', 2010)
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTHANHLAP]) VALUES (N'ASDX', N'Ngon ngu Nhat', 2010)
/****** Object:  Table [dbo].[SVIEN]    Script Date: 10/28/2018 21:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SVIEN](
	[TEN] [varchar](30) NOT NULL,
	[HO] [varchar](30) NOT NULL,
	[MASV] [nvarchar](50) NOT NULL,
	[NAM] [int] NULL,
	[MAKH] [varchar](4) NOT NULL,
	[NGAYSINH] [date] NULL,
	[SEX] [nchar](10) NULL,
 CONSTRAINT [PK__SVIEN__60228A2803317E3D] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SVIEN] ([TEN], [HO], [MASV], [NAM], [MAKH], [NGAYSINH], [SEX]) VALUES (N'Long', N'Dong Bao', N'SE62792', 3, N'ABCD', CAST(0x75220B00 AS Date), N'male      ')
INSERT [dbo].[SVIEN] ([TEN], [HO], [MASV], [NAM], [MAKH], [NGAYSINH], [SEX]) VALUES (N'Thang', N'Nguyen Le Duy', N'SE62793', 3, N'ABCD', CAST(0xA9210B00 AS Date), N'females   ')
INSERT [dbo].[SVIEN] ([TEN], [HO], [MASV], [NAM], [MAKH], [NGAYSINH], [SEX]) VALUES (N'Thu', N'Cao Thanh', N'SE62794', 3, N'EFGH', CAST(0xAD190100 AS Date), N'females   ')
/****** Object:  Table [dbo].[MHOC]    Script Date: 10/28/2018 21:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MHOC](
	[TENMH] [varchar](30) NOT NULL,
	[MAMH] [varchar](8) NOT NULL,
	[TINCHI] [int] NULL,
	[MAKH] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MHOC] ([TENMH], [MAMH], [TINCHI], [MAKH]) VALUES (N'Chinh Phuc Dam Phan', N'ASD356', 3, N'EFGH')
INSERT [dbo].[MHOC] ([TENMH], [MAMH], [TINCHI], [MAKH]) VALUES (N'LAB JAVA Web', N'LAB311', 3, N'ABCD')
INSERT [dbo].[MHOC] ([TENMH], [MAMH], [TINCHI], [MAKH]) VALUES (N'DO.Net', N'PR192', 3, N'ABCD')
/****** Object:  Table [dbo].[HPHAN]    Script Date: 10/28/2018 21:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HPHAN](
	[MAHP] [int] NOT NULL,
	[MAMH] [varchar](8) NOT NULL,
	[HOCKI] [int] NULL,
	[NAM] [int] NULL,
	[GV] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HPHAN] ([MAHP], [MAMH], [HOCKI], [NAM], [GV]) VALUES (1, N'PRJ321', 1, 2018, N'Kieu Trong Khanh')
INSERT [dbo].[HPHAN] ([MAHP], [MAMH], [HOCKI], [NAM], [GV]) VALUES (2, N'PRJ321', 2, 2018, N'Pham Cong Thanh')
INSERT [dbo].[HPHAN] ([MAHP], [MAMH], [HOCKI], [NAM], [GV]) VALUES (3, N'PR192', 2, 2018, N'Mai Thanh Tuan')
/****** Object:  Table [dbo].[DKIEN]    Script Date: 10/28/2018 21:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DKIEN](
	[MAMH] [varchar](8) NOT NULL,
	[MAMH_TRUOC] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MAMH_TRUOC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KQUA]    Script Date: 10/28/2018 21:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KQUA](
	[MASV] [nvarchar](50) NOT NULL,
	[MAHP] [int] NOT NULL,
	[DIEM] [float] NULL,
	[DIEM2] [float] NULL,
	[DIEMTB] [float] NULL,
 CONSTRAINT [PK__KQUA__D6217825173876EA] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAHP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KQUA] ([MASV], [MAHP], [DIEM], [DIEM2], [DIEMTB]) VALUES (N'SE62792', 1, 9, 4, 6.5)
INSERT [dbo].[KQUA] ([MASV], [MAHP], [DIEM], [DIEM2], [DIEMTB]) VALUES (N'SE62792', 2, 7, 7, 7)
INSERT [dbo].[KQUA] ([MASV], [MAHP], [DIEM], [DIEM2], [DIEMTB]) VALUES (N'SE62792', 3, 5, 5, 5)
/****** Object:  Check [CK__SVIEN__NAM__0519C6AF]    Script Date: 10/28/2018 21:03:23 ******/
ALTER TABLE [dbo].[SVIEN]  WITH CHECK ADD  CONSTRAINT [CK__SVIEN__NAM__0519C6AF] CHECK  (([NAM]>=(1) AND [NAM]<=(4)))
GO
ALTER TABLE [dbo].[SVIEN] CHECK CONSTRAINT [CK__SVIEN__NAM__0519C6AF]
GO
/****** Object:  Check [CK__KQUA__DIEM__1920BF5C]    Script Date: 10/28/2018 21:03:23 ******/
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD  CONSTRAINT [CK__KQUA__DIEM__1920BF5C] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[KQUA] CHECK CONSTRAINT [CK__KQUA__DIEM__1920BF5C]
GO
/****** Object:  ForeignKey [FK_SVIEN_KHOA]    Script Date: 10/28/2018 21:03:23 ******/
ALTER TABLE [dbo].[SVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[SVIEN] CHECK CONSTRAINT [FK_SVIEN_KHOA]
GO
/****** Object:  ForeignKey [FK_MHOC_MAKH]    Script Date: 10/28/2018 21:03:23 ******/
ALTER TABLE [dbo].[MHOC]  WITH CHECK ADD  CONSTRAINT [FK_MHOC_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[MHOC] CHECK CONSTRAINT [FK_MHOC_MAKH]
GO
/****** Object:  ForeignKey [FK_HPHAN_MAMH]    Script Date: 10/28/2018 21:03:23 ******/
ALTER TABLE [dbo].[HPHAN]  WITH CHECK ADD  CONSTRAINT [FK_HPHAN_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MHOC] ([MAMH])
GO
ALTER TABLE [dbo].[HPHAN] CHECK CONSTRAINT [FK_HPHAN_MAMH]
GO
/****** Object:  ForeignKey [FK_DKIEN_MAMH]    Script Date: 10/28/2018 21:03:23 ******/
ALTER TABLE [dbo].[DKIEN]  WITH CHECK ADD  CONSTRAINT [FK_DKIEN_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DKIEN] CHECK CONSTRAINT [FK_DKIEN_MAMH]
GO
/****** Object:  ForeignKey [FK_KQUA_HPHAN]    Script Date: 10/28/2018 21:03:23 ******/
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD  CONSTRAINT [FK_KQUA_HPHAN] FOREIGN KEY([MAHP])
REFERENCES [dbo].[HPHAN] ([MAHP])
GO
ALTER TABLE [dbo].[KQUA] CHECK CONSTRAINT [FK_KQUA_HPHAN]
GO
/****** Object:  ForeignKey [FK_KQUA_SVIEN1]    Script Date: 10/28/2018 21:03:23 ******/
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD  CONSTRAINT [FK_KQUA_SVIEN1] FOREIGN KEY([MASV])
REFERENCES [dbo].[SVIEN] ([MASV])
GO
ALTER TABLE [dbo].[KQUA] CHECK CONSTRAINT [FK_KQUA_SVIEN1]
GO
